<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheese App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <body>
    <a href="/cheeses">Browse Cheeses</a>
    <a href="/cheeses/new">Add New Cheese</a>
    <h1>Welcome to the Cheese app!</h1>
    <img
    class="cheese-pic"
    src="https://cdn.pixabay.com/photo/2020/05/17/04/33/cheese-5179968_1280.jpg"
    alt="sliced cheese"
    style="width: 400px; height: auto"
  /> 
    <p>An app for collecting your favorite cheeses.</p>
  </body>
</html>
